// Roadmap
.roadmap
  .roadmap__holder
    .container
      .roadmap__head.section-head(data-aos="fade-up")
        h4.h4-title.c-gray=t('roadmap.title')
        h3.h3-title=t('roadmap.subtitle')

    .roadmap__timeline-scroller.js-scroll-x
      .roadmap__timeline-content
        // timeline
        .timeline.js-set-width(data-aos="fade-up")
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title=t('roadmap.twoThousandTwenty.year')
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.january')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.januaryText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.august')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.augustText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.september')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.septemberText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.october')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.octoberText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.november')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.novemberText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title=t('roadmap.twoThousandTwentyOne.year')
                p.p-small.c-gray=t('roadmap.twoThousandTwentyOne.february')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwentyOne.februaryText')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwentyOne.april')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwentyOne.aprilText')
          // timeline col (spacer)
          .timeline__col.timeline__col--spacer
          // timeline col (spacer)
          .timeline__col.timeline__col--spacer


  .bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
