// Roadmap
.roadmap
  .roadmap__holder
    .container
      .roadmap__head.section-head(data-aos="fade-up")
        h4.h4-title.c-gray=t('roadmap.title')
        h3.h3-title=t('roadmap.subtitle')

    .roadmap__timeline-scroller.js-scroll-x
      .roadmap__timeline-content
        // timeline
        .timeline.js-set-width(data-aos="fade-up")
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title=t('roadmap.twoThousandTwenty.title')
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.thirdQuarter')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.thirdQuarterTitle')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwenty.fourthQuarter')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwenty.fourthQuarterTitle')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title=t('roadmap.twoThousandTwentyOne.title')
                p.p-small.c-gray=t('roadmap.twoThousandTwentyOne.firstQuarter')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwentyOne.firstQuarterTitle')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray=t('roadmap.twoThousandTwentyOne.fourthQuarter')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwentyOne.fourthQuarterTitle')
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title=t('roadmap.twoThousandTwentyTwo.title')
              .timeline__description
                p.p-small=t('roadmap.twoThousandTwentyTwo.subtitle')
          // timeline col (spacer)
          .timeline__col.timeline__col--spacer
          // timeline col (spacer)
          .timeline__col.timeline__col--spacer


  .bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
