.trstart__tools-wrapper
  .trstart__tools-content(data-aos="fade-up")
    // accardeon
    .trstart__accardeon.accardeon.js-accardeon(data-image-selector=".trstart__tools-images")
      // accardeon__element (active)
      .accardeon__element.is-active
        .accardeon__toggler
          .accardeon__title
            .h5-title=t('tools.fisrtTitle')
            +svgMono('arrow-down')
        .accardeon__content(style="display: block")
          .trstart__tools-image.trstart__tools-image--mobile(data-teleport-target="trstart-image-1")
          p.p-small.c-gray=t('tools.firstDsc')
      -
        var list = [
          {title: t('tools.secondTitle'), image: "trstart-image-2", description: t('tools.secondDsc')},
          {title: t('tools.thirdTitle'), image: "trstart-image-3", description: t('tools.thirdDsc')},
          {title: t('tools.fourthTitle'), image: "trstart-image-4", description: t('tools.fourthDsc')}
        ]
      each element in list
        // accardeon__element
        .accardeon__element
          .accardeon__toggler
            .accardeon__title
              .h5-title= element.title
              +svgMono('arrow-down')
          .accardeon__content
            .trstart__tools-image.trstart__tools-image--mobile(data-teleport-target=element.image)
              // teleport
            p.p-small.c-gray=element.description

  .trstart__tools-images(data-aos="fade-up")
    .trstart__tools-image.js-teleport(style="display: block" data-accardeon-tab="1" data-teleport-condition="<1200" data-teleport-to="trstart-image-1")
      img(src='img/ticker_alerts.png' srcset='img/ticker_alerts.png 2x')
    .trstart__tools-image.js-teleport(data-accardeon-tab="2" data-teleport-condition="<1200" data-teleport-to="trstart-image-2")
      img(src='img/arbitrage.png' srcset='img/arbitrage.png 2x')
    .trstart__tools-image.js-teleport(data-accardeon-tab="3" data-teleport-condition="<1200" data-teleport-to="trstart-image-3")
      img(src='img/portfolio.png' srcset='img/portfolio.png 2x')
    .trstart__tools-image.js-teleport(data-accardeon-tab="4" data-teleport-condition="<1200" data-teleport-to="trstart-image-4")
      img(src='img/analytics.png' srcset='img/analytics.png 2x')
