-
  var labels = [
    11,
    12,
    13,
    14,
    15,
    16,
    17
  ]

// Trader content
.trader-content
  .container
    .trader-content__wrapper
      // section
      .trader-content__section
        .trader-content__section-title(data-aos="fade-up")
          .h3-title.c-gray Trader Profit Graph

        .trader-content__chart
          .trader-content__chart-head(data-aos="fade-up")
            .trader-content__chart-filter
              .h6-title Period
              select(js-select js-trader-period-select)
                option(value="1") Weekly
                option(value="2") Monthly
                option(value="3") Yearly
            .trader-content__chart-total
              .h6-title.c-primary +5.6%
          .trader-content__chart-canvas
            canvas.js-chart-scroll.js-chart.js-trader-period-chart(
              data-group-labels="3"
              data-values="seed"
              data-labels=labels
            )

      // section
      .trader-content__section
        .trader-content__section-title(data-aos="fade-up")
          .h3-title.c-gray Asset Allocation
          // asset chart
          .asset-chart(data-aos="fade-up")
            mixin line(name, width)
              // line
              .asset-chart__line
                .asset-chart__left
                  .h5-title= name
                .asset-chart__center
                  .asset-chart__fill(style="width: "+width+";")
                .asset-chart__right
                  .h5-title= width
            +line("ETH", "46.53%")
            +line("LTC", "23.05%")
            +line("BNB", "15.09%")
            +line("XRP", "5.32%")
            +line("LINK", "3.58%")
            +line("BTC", "1.69%")
