- var trader = data || {}
- var labels = trader.profitHistory.labels || []
- var values = trader.profitHistory.values || []

// Trader content
.trader-content
  .container
    .trader-content__wrapper
      // section
      .trader-content__section
        .trader-content__section-title(data-aos="fade-up")
          .h3-title.h4-title-md.c-gray=t('trader-content.title')

        .trader-content__chart
          .trader-content__chart-head(data-aos="fade-up")
            .trader-content__chart-filter
              .h6-title=t('trader-content.period')
              select(js-select js-trader-period-select)
                option(value="1")=t('trader-content.weekly')
                option(value="2")=t('trader-content.monthly')
                option(value="3")=t('trader-content.yearly')
            .trader-content__chart-total
              .h6-title.c-primary #{trader.profiHistoryChanges}
          .trader-content__chart-canvas
            canvas.js-chart-scroll.js-chart.js-trader-period-chart(
              data-group-labels="1"
              data-values=values
              data-labels=labels
            )

      // section
      .trader-content__section
        .trader-content__section-title(data-aos="fade-up")
          .h3-title.h4-title-md.c-gray=t('trader-content.assetAllocation')
          // asset chart
          .asset-chart(data-aos="fade-up")
            mixin line(name, width)
              // line
              .asset-chart__line
                .asset-chart__left
                  .h5-title= name
                .asset-chart__center
                  .asset-chart__fill(style="width: "+width+";")
                .asset-chart__right
                  .h5-title= width
            -
              var assets = trader.assetAllocation || []
            each asset, idx in assets
              +line(`${asset.asset}`, `${asset.percentage}%`)

