- var currentLocale = locale || '';
- var trader = data || {}
// Trader head
.trader-head
  .container
    .trader-head__wrapper
      .trader-head__col-left
        a(js-traders-back-link data-locale=currentLocale data-aos="fade-up" href="#").trader-head__back-link
          +svgMono('arrow-right')
          span=t('trader-head.back')
      .trader-head__col-right
        .trader-head__content
          // content left
          .trader-head__content-left
            .trader-head__content-sticky(data-stop=".trader-content")
              .trader-head__avatar
                .scaler(data-ar="1:1" style=`background-image: url('/img/avatars/${trader.avatarCode}-blur.jpg')`)
                  img(js-lazy data-src=`/img/avatars/${trader.avatarCode}.jpg` data-srcset=`/img/avatars/${trader.avatarCode}@2x.jpg`)
              .trader-head__main
                .trader-head__main-wrapper(data-aos="fade")
                  .trader-head__main-title.h4-title #{trader.name}
                  .trader-head__main-row
                    .trader-head__main-label=t('trader-head.telegramSignals')
                    .trader-head__main-value.h3-title <span>$</span> #{trader.subscriptionOptions.notificationMonthlyPrice}
                  .trader-head__main-row
                    .trader-head__main-label=t('trader-head.autotrading')
                    .trader-head__main-value.h3-title #{trader.subscriptionOptions.autotradingCommission}<span>%</span>
                  .trader-head__main-cta
                    a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary.btn--block=t('trader-head.follow')
          // content right
          .trader-head__content-right
            .trader-head__name.h2-title.h3-title-md(data-aos="fade-up") #{trader.name}
            .trader-head__content-grid
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.rating')
                .trader-head__content-wrapper.mt-12.c-primary
                  +svgMono('star')
                  .h2-title #{trader.rating}
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.totalProfit')
                .trader-head__content-wrapper.mt-12.c-primary
                  .h2-title #{trader.totalProfit}

            .trader-head__content-grid
              .trader-head__content-col.trader-head__content-col--full-sm(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.strategy')
                .trader-head__content-wrapper.mt-16
                  .h5-title #{trader.description}

            .trader-head__content-grid
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.avgProfit')
                .trader-head__content-wrapper.mt-8
                  .h4-title #{trader.avgProfit}
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.totalSignals')
                .trader-head__content-wrapper.mt-8
                  .h4-title #{trader.signalCount}
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.signalsPerDay')
                .trader-head__content-wrapper.mt-8
                  .h4-title #{trader.avgSignals}
              .trader-head__content-col(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.billingPeriod')
                .trader-head__content-wrapper.mt-8
                  .h4-title #{trader.subscriptionOptions.billingPeriod} #{t('trader-head.days')}
              .trader-head__content-col.trader-head__content-col--md-only(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.telegramSignals')
                .trader-head__content-wrapper.mt-8
                  .h4-title $ #{trader.subscriptionOptions.notificationMonthlyPrice}
              .trader-head__content-col.trader-head__content-col--md-only(data-aos="fade-up")
                .trader-head__content-label.p-small=t('trader-head.autotrading')
                .trader-head__content-wrapper.mt-8
                  .h4-title #{trader.subscriptionOptions.autotradingCommission}%

  .trader-head__waves.bg-waves.bg-waves--bottom.bg-waves--dark.bg-waves--h-small
    include ../../icons/svg-inline/waves-up.svg

  // mobile cta
  .trader-head__mobile-cta
    a(href="#").btn.btn-primary.btn--block=t('trader-head.follow')
