// B story
.b-story
  .container
    .b-story__wrapper
      .b-story__left(data-aos="fade-up")
        .b-story__left-wrapper
          .b-story__head.section-head.section-head--left
            h4.h4-title.c-light=t('b-story.subtitle')
            h2.h2-title.h3-title-md=t('b-story.title')
            p.p-main.c-gray=t('b-story.firstParagraph')
            p.p-main.c-gray=t('b-story.secondParagraph')
            a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary=t('b-story.button')

      .b-story__right(data-aos="fade-up")
        .b-story__image
          picture(
            js-lazy
            alt=""
            data-src='/img/b-story-graph.png')
            data-src(
            media="(min-width: 1201px)"
            srcset='/img/b-story-graph.png 1x, /img/b-story-graph@2x.png 2x')
            data-src(
            media="(min-width: 768px)"
            srcset='/img/b-story-graph-tablet.png 1x, /img/b-story-graph-tablet@2x.png 2x')
            data-src(
            media="(min-width: 0px)"
            srcset='/img/b-story-graph.png 1x, /img/b-story-graph@2x.png 2x')

          //- img(js-lazy data-src='/img/b-story-graph.png' srcset='/img/b-story-graph@2x.png 2x' alt="")
