// email-list
.email-list
  .container.container--8
    .email-list__head.section-head(data-aos="fade-up")
      h2.h3-title=t('email-list.title')
    .email-list__grid
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.generalQuestions')
          a.h6-title.email-list__link(href="mailto:hello@coinmatics.io")=t('email-list.generalQuestionsLink')
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.forInvestors')
          a.h6-title.email-list__link(href="mailto:in@coinmatics.io")=t('email-list.forInvestorsLink')
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.forTraders')
          a.h6-title.email-list__link(href="mailto:tr@coinmatics.io")=t('email-list.forTradersLink')

      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.itSupport')
          a.h6-title.email-list__link(href="mailto:support@coinmatics.io")=t('email-list.itSupportLink')
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.accountQuestions')
          a.h6-title.email-list__link(href="mailto:billing@coinmatics.io")=t('email-list.accountQuestionsLink')
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray=t('email-list.start')
          a.h6-title.email-list__link(href="mailto:hello@coinmatics.io")=t('email-list.startLink')

