// TRADERS START
- var currentLocale = locale || '';
.trstart
  // banner (top)
  .trstart__banner
    .container
      .trstart__head.section-head(data-aos="fade-up")
        h4.h4-title.c-light=t('traders-start.subtitle')
        h2.h2-title.h3-title-md=t('traders-start.title')
        p.p-main.c-light=t('traders-start.description')
        a(href=`/${currentLocale}/traders`).btn.btn-ghost.btn-ghost--b0=t('traders-start.learnMore')

      .trstart__banner-image(data-aos="fade")
        include ../../icons/svg-inline/illustration_trstart.svg
        img(src='/img/illustration_trstart.png')

  // separator
  .trstart__waves.bg-waves.bg-waves--short.bg-null
    include ../../icons/svg-inline/waves-trstart-top.svg

  // tools (bottom)
  .trstart__tools(id="tools")
    .container
      .trstart__head.section-head(data-aos="fade-up")
        h3.h3-title.h4-title-md=t('traders-start.toolsTitle')

      include partials/_tools

      // cta
      .trstart__tools-cta(data-aos="fade-up")
        a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary=t('traders-start.toolsButton')

  .trstart__waves.bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
