mixin teamCard(card)
  // news card
  .team-card
    .team-card__image
      .team-card__image-wrapper
        .scaler(style="padding-bottom: "+(199/157) * 100 +"%; background-image: url(https://res.cloudinary.com/denjcproduct/image/upload/c_fill,e_blur:400,w_64/v1591990333/Coinmatics/"+card.image+".jpg)")
          img(js-lazy data-src='img/team/'+card.image+'.jpg' data-srcset='img/team/'+card.image+'@2x.jpg 2x')
    .team-card__content
      .h5-title
        span=t(`employees.${card.employee}.name`)
        br
        span=t(`employees.${card.employee}.surname`)
      .p-small.c-gray= card.position
      .team-card__socials
        a(href="#" target="_blank")
          +svgMono('social-linked-in')
        a(href="#" target="_blank")
          +svgMono('social-github')

// Team
.team
  .container.container--8
    .team__head(data-aos="fade-up")
      .h3-title=t('team.title')

    .team__wrapper
      -
        var list = [
          {
            image: 'grishkevich',
            employee: 'grishkevich',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'kostukov',
            employee: 'kostukov',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'kostunin',
            employee: 'kostunin',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'kryajeva',
            employee: 'kryajeva',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'mazanik',
            employee: 'mazanik',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'meshalkin',
            employee: 'meshalkin',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'radionov',
            employee: 'radionov',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'senkov',
            employee: 'senkov',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'tikhon',
            employee: 'tikhon',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          },
          {
            image: 'khamenka',
            employee: 'khamenka',
            position: 'COO',
            linkedin: '#',
            githubL: '#'
          }
        ]
      each employee in list
        .team__col(data-aos="fade-up")
          +teamCard(employee)



    .news__cta(data-aos="fade-up")
      a(href="https://www.linkedin.com/company/coinmatics/jobs/" target="_blank").btn.btn-primary=t('team.beOneOfUs')
