mixin listElement(icon, name)
  li
    +svgMono(icon)
    span.h6-title=name

// Our values
.our-values
  .container.container--8
    .our-values__wrapper
      .our-values__col.our-values__col--main(data-aos="fade-up")
        .our-values__head
          .h3-title=t('our-values.title')
          .p-small.c-gray=t('our-values.subtitle')
      .our-values__col(data-aos="fade-up")
        .our-values__list-container
          .h5-title=t('our-values.whatWeDo.title')
          ul.our-values__list.our-values__list--green
            +listElement('check', t('our-values.whatWeDo.one'))
            +listElement('check', t('our-values.whatWeDo.two'))
            +listElement('check', t('our-values.whatWeDo.three'))
            +listElement('check', t('our-values.whatWeDo.four'))
            +listElement('check', t('our-values.whatWeDo.five'))

      .our-values__col(data-aos="fade-up")
        .our-values__list-container
          .h5-title=t('our-values.whatWeDontDo.title')
          ul.our-values__list
            +listElement('close', t('our-values.whatWeDontDo.one'))
            +listElement('close', t('our-values.whatWeDontDo.two'))
            +listElement('close', t('our-values.whatWeDontDo.three'))
            +listElement('close', t('our-values.whatWeDontDo.four'))
            +listElement('close', t('our-values.whatWeDontDo.five'))
