// EASY START
.easy-start
  .easy-start__waves.bg-waves.bg-waves--gray
    include ../../icons/svg-inline/waves-up.svg

  .container
    .easy-start__wrapper
      .easy-start__content
        .easy-start__content-wrapper
          .section-head.section-head--left(data-aos="fade-up")
            h4.h4-title.c-light=t('easy-start.subtitle')
            h2.h2-title.h3-title-md=t('easy-start.title')
            p.p-main=t('easy-start.description')
            .js-teleport(data-teleport-condition="<1200" data-teleport-to="easy-start-cta")
              a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary.ga__getIncome-btn=t('easy-start.button')
      .easy-start__steps
        .easy-start__steps-wrapper
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-1.svg
              .es-card__content
                .es-card__number=t('easy-start.firstValue')
                .p-small=t('easy-start.firstDescription')
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-2.svg
              .es-card__content
                .es-card__number=t('easy-start.secondValue')
                .p-small=t('easy-start.secondDescription')
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-3.svg
              .es-card__content
                .es-card__number=t('easy-start.thirdValue')
                .p-small=t('easy-start.thirdDescription')

      .easy-start__cta-mobile(data-aos="fade-up" data-teleport-target="easy-start-cta")
