- var currentLocale = locale || '';
-var termsHref = `/${currentLocale}/legal`;
#modalSubscribe.modal
  .popup-dialog
    .popup-dialog__close.js-close-popup
      +svgMono('close')

    .popup-dialog__wrapper
      .popup-dialog__head
        .h3-title.h4-title-md=t('modal-subscribe.title')

      form.popup-dialog__form(id="subscribeForm" data-success-function="isValid").js-validate-form
        .ui-group-row-btn
          .ui-input
            input(type="email" name="email" placeholder=t('modal-subscribe.placeholder') required)
          button.btn.btn-primary.analytics__subscribe-btn(type="submit")=t('modal-subscribe.button')
        .popup-dialog__terms
          p.p-mini.c-gray=t('modal-subscribe.termsText')
            a(href=termsHref)=t('modal-subscribe.terms')
            span=t('modal-subscribe.and')
            a(href=termsHref)=t('modal-subscribe.privacyPolicy')


script.
  document.getElementById("subscribeForm").onsubmit = function (e) {
    e.preventDefault()
  }
  function isValid(formData) {
    const email = formData.split('=')[1].replace(/\%40/, '@');
    fetch('/api/subscribe', {
      method: "POST",
      headers: {
         'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify({
        email
      })
    }).then(response => {
      APP.Plugins.Modals.openModal("#modalThanks");
    }).catch(error => {
      console.error('error', error);
    })
  }

