// HEADER :: START
- var currentLocale = locale || '';
header.header
  .container
    .header__wrapper
      .header__hamburger
        .hamburger.hamburger--squeeze.js-hamburger
          .hamburger-box
            .hamburger-inner

      a(href=`/${currentLocale}/`).header__logo
        .logo__icon
          +svgColor('logo-dark')
          +svgColor('logo-white')
      ul.header__menu.js-megamenu-trigger
        li
          a(href="#" data-for="1")
            span=t('header.forInvestors')
            +svgMono('arrow-down')
        li
          a(href="#" data-for="2")
            span=t('header.forTraders')
            +svgMono('arrow-down')
        li
          a(href="#" data-for="3")
            span=t('header.company')
            +svgMono('arrow-down')
        li
          a(href="#" data-for="4")
            span=t('header.support')
            +svgMono('arrow-down')


      .header__cta
        a(href=baseUrl + `/signin?l=${locale}`).btn.btn-ghost.btn--small=t('header.logIn')
        a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary.btn--small=t('header.getStarted')

