// HEADER :: START
- var panelCoinmaticsUrl = 'https://panel.coinmatics.io';
- var currentLocale = locale || '';
header.header
  .container
    .header__wrapper
      .header__hamburger
        .hamburger.hamburger--squeeze.js-hamburger
          .hamburger-box
            .hamburger-inner

      a(href=`/${currentLocale}/`).header__logo
        .logo
          .logo__icon
            +svgColor('logo-sign')
            +svgColor('logo-sign-white')
          .logo__name=t('header.logoName')
          .logo__tag
            +svgColor('logo-beta')
      ul.header__menu.js-megamenu-trigger
        li
          a(href="#" data-for="1")
            span=t('header.forInvestors')
            +svgMono('arrow-down')
        li
          a(href="#" data-for="2")
            span=t('header.forTraders')
            +svgMono('arrow-down')
        li
          a(href="#" data-for="3")
            span=t('header.support')
            +svgMono('arrow-down')

      .header__cta
        a(href=panelCoinmaticsUrl + '/signin').btn.btn-ghost.btn--small=t('header.logIn')
        a(href=panelCoinmaticsUrl + '/signup').btn.btn-primary.btn--small=t('header.getStarted')

