
// megamenu
- var panelCoinmaticsUrl = 'https://panel.coinmatics.io';
- var currentLocale = locale || '';
- var toolsHref = path === '/' || path === '/traders' ? '#tools' : `/${currentLocale}/traders#tools`;
.megamenu.js-megamenu(data-id="1")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href=`/${currentLocale}/investors`).menu-nav
            .menu-nav__icon
              +svgColor('nav-investors')
              +svgMono('nav-investors')
            .menu-nav__content
              .h5-title=t('megamenu.copyTradingForInvestorsTitle')
              .p-mini=t('megamenu.copyTradingForInvestorsDsc')
        .megamenu__col
          a(href=panelCoinmaticsUrl + '/signup').menu-nav
            .menu-nav__icon
              +svgColor('nav-top-traders')
              +svgMono('nav-top-traders')
            .menu-nav__content
              .h5-title=t('megamenu.discoverTopTradersTitle')
              .p-mini=t('megamenu.discoverTopTradersDsc')
        .megamenu__col
          a(href="https://t.me/coinmatics_signals" target="_blank").menu-nav
            .menu-nav__icon
              +svgColor('nav-signals')
              +svgMono('nav-signals')
            .menu-nav__content
              .h5-title=t('megamenu.freeTradingSignalsTitle')
              .p-mini=t('megamenu.freeTradingSignalsDsc')

// megamenu
.megamenu.js-megamenu(data-id="2")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href=`/${currentLocale}/traders`).menu-nav
            .menu-nav__icon
              +svgColor('nav-traders')
              +svgMono('nav-traders')
            .menu-nav__content
              .h5-title=t('megamenu.copyTradingForTradersTitle')
              .p-mini=t('megamenu.copyTradingForTradersDsc')
        .megamenu__col
          a(href=toolsHref).menu-nav
            .menu-nav__icon
              +svgColor('nav-traders-tools')
              +svgMono('nav-traders-tools')
            .menu-nav__content
              .h5-title=t('megamenu.freeMarketResearchToolsTitle')
              .p-mini=t('megamenu.freeMarketResearchToolsDsc')

// megamenu
.megamenu.js-megamenu(data-id="3")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href=`/${currentLocale}/faq`).menu-nav
            .menu-nav__icon
              +svgColor('nav-faq')
              +svgMono('nav-faq')
            .menu-nav__content
              .h5-title=t('megamenu.faqTitle')
              .p-mini=t('megamenu.faqDsc')
        .megamenu__col
          a(href="#").show-intercom.menu-nav
            .menu-nav__icon
              +svgColor('nav-ask-a-question')
              +svgMono('nav-ask-a-question')
            .menu-nav__content
              .h5-title=t('megamenu.askQuestionTitle')
              .p-mini=t('megamenu.askQuestionDsc')
