
// MOBILE NAVI
- var currentLocale = locale || '';
- var toolsHref = path === '/' || path === '/for-traders' ? '#tools' : `/${currentLocale}/for-traders#tools`;
.mobile-navi
  .mobile-navi__scroller
    .mobile-navi__head
      a(href=`/${currentLocale}/`).header__logo
        +svgColor('logo-dark')
      .header__hamburger.js-close-mobile-navi
        .hamburger.hamburger--squeeze.is-active
          .hamburger-box
            .hamburger-inner

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray=t('mobile-navi.forInvestors')
      .mobile-navi__list
        a(href=`/${currentLocale}/investors`).menu-nav
          .menu-nav__icon
            +svgColor('nav-investors')
            +svgMono('nav-investors')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.copyTradingForInvestorsTitle')
            .p-mini=t('mobile-navi.copyTradingForInvestorsDsc')
        a(href=baseUrl + `/signup?l=${locale}`).menu-nav
          .menu-nav__icon
            +svgColor('nav-top-traders')
            +svgMono('nav-top-traders')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.discoverTopTradersTitle')
            .p-mini=t('mobile-navi.discoverTopTradersDsc')
        a(href="https://t.me/coinmatics_signals" target="_blank").menu-nav
          .menu-nav__icon
            +svgColor('nav-signals')
            +svgMono('nav-signals')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.freeTradingSignalsTitle')
            .p-mini=t('mobile-navi.freeTradingSignalsDsc')

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray=t('mobile-navi.forTraders')
      .mobile-navi__list
        a(href=`/${currentLocale}/for-traders`).menu-nav
          .menu-nav__icon
            +svgColor('nav-traders')
            +svgMono('nav-traders')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.copyTradingForTradersTitle')
            .p-mini=t('mobile-navi.copyTradingForTradersDsc')
        a(href=toolsHref).menu-nav
          .menu-nav__icon
            +svgColor('nav-traders-tools')
            +svgMono('nav-traders-tools')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.freeMarketResearchToolsTitle')
            .p-mini=t('mobile-navi.freeMarketResearchToolsDsc')

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray=t('mobile-navi.support')
      .mobile-navi__list
        a(href=`/${currentLocale}/faq`).menu-nav
          .menu-nav__icon
            +svgColor('nav-faq')
            +svgMono('nav-faq')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.faqTitle')
            .p-mini=t('mobile-navi.faqDsc')
        a(href="#").show-intercom.menu-nav
          .menu-nav__icon
            +svgColor('nav-ask-a-question')
            +svgMono('nav-ask-a-question')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md=t('mobile-navi.askQuestionTitle')
            .p-mini=t('mobile-navi.askQuestionDsc')

    // section
    .mobile-navi__cta-mobile
      a(href=baseUrl + `/signin?l=${locale}`).btn.btn-ghost.btn--block.btn--small=t('mobile-navi.logIn')
      a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary.btn--block.btn--small=t('mobile-navi.getStarted')
