- var currentLocale = locale || '';
-
  var list = data || []

// TRADERS LIST (list)
.traders-list
  .container.container--10
    // head
    .traders-list__head(data-aos="fade-up")
      //- .traders-list__sorting
      //-   .traders-list__sorting-col
      //-     .traders-list__sorting-label.h6-title Show
      //-     .traders-list__sorting-select
      //-       select(js-select placeholder="Show")
      //-         option(value="25") 25
      //-         option(value="50" selected) 50
      //-         option(value="100") 100
      //-         option(value="200") 200


      .traders-list__view
        a(href=`/${currentLocale}/traders-grid`)
          +svgMono('view-grid')
        a(href="#").is-active
          +svgMono('view-list')

    // list
    .traders-list__grid
      .traders-list__table(data-aos="fade-up")
        table.traders-table(js-sortable-table)
          thead
            tr
              td
                .traders-table__sortable-col
                  span=t('traders-list.name')
                    +svgMono("arrow-down")
              td(data-sort-method='number' data-sort-default)
                .traders-table__sortable-col
                  span=t('traders-list.totalProfit')
                    +svgMono("arrow-down")
              td(data-sort-method='number')
                .traders-table__sortable-col
                  span=t('traders-list.rating')
                    +svgMono("arrow-down")
              td(data-sort-method='number')
                .traders-table__sortable-col
                  span=t('traders-list.avgSignals')
                    +svgMono("arrow-down")
              td(data-sort-method='number')
                .traders-table__sortable-col
                  span=t('traders-list.trackRecord')
                    +svgMono("arrow-down")
              td
                .traders-table__sortable-col
                  span=t('traders-list.riskLevel')
                    +svgMono("arrow-down")
              td(data-sort-method='number')
                .traders-table__sortable-col
                  span=t('traders-list.lastWeekProfitGraph')
                    +svgMono("arrow-down")
          tbody
            each slide, idx in list
              tr(js-link data-href="trader.html")
                td
                  .traders-table__main
                    .traders-table__avatar
                      .scaler(data-ar="1:1" style=`background-image: url('/img/avatars/${slide.avatarCode}-blur.jpg')`)
                        img(js-lazy data-src=`/img/avatars/${slide.avatarCode}.jpg` data-srcset=`/img/avatars/${slide.avatarCode}@2x.jpg`)
                    .h6-title= slide.name
                td
                  .h6-title #{slide.totalProfit > 0 ? '+' : ''}#{slide.totalProfit}%
                td
                  .h6-title #{slide.rating}
                td
                  .h6-title #{slide.avgSignals}
                td
                  .h6-title #{slide.trackRecord + t('trader-card.months')}
                td
                  .h6-title #{t('traders-list.riskLevelList.' + slide.riskLevel)}
                td
                  .traders-table__profit
                    - var lastProfit = slide.lastWeekProfit
                    if lastProfit > 0
                      .h6-title +#{lastProfit}%
                    else
                      .h6-title #{lastProfit}%

                      .traders-table__chart
                        -
                          var valattr =slide.data.values
                        -
                          var labels = slide.data.labels
                        canvas.js-chart-scroll.js-chart(
                          data-type="simple"
                          data-group-labels="3"
                          data-values=valattr
                          data-labels=labels
                        )

    //- .traders-list__cta(data-aos="fade-up")
    //-   a(href="#" onclick="APP.Plugins.Tablesort.update()").btn.btn-primary Load more
