- var currentLocale = locale || '';

// TRADERS LIST
.traders-list
  .container.container--10
    // head
    .traders-list__head(data-aos="fade-up")
      //- .traders-list__sorting
      //-   .traders-list__sorting-col
      //-     .traders-list__sorting-label.h6-title Show
      //-     .traders-list__sorting-select
      //-       select(js-select placeholder="Show")
      //-         option(value="25") 25
      //-         option(value="50" selected) 50
      //-         option(value="100") 100
      //-         option(value="200") 200

      //-   .traders-list__sorting-col
      //-     .traders-list__sorting-label.h6-title Sort by
      //-     .traders-list__sorting-select
      //-       select(js-select placeholder="Sort by")
      //-         option(value="1" selected) Total Profit
      //-         option(value="2") Rating
      //-         option(value="3") Avg. Signals
      //-         option(value="4") Avg. Profit
      //-         option(value="5") Risk Level
      //-         option(value="6") Weekly Profit

      .traders-list__view
        a(href="#").is-active
          +svgMono('view-grid')
        a(href=`/${currentLocale}/traders-list`)
          +svgMono('view-list')

    // list
    .traders-list__grid
      -
        var list = data || []
      each slide, idx in list
        .traders-list__col(data-aos="fade-up")
          .trader-card-mini
            // avatar
            .trader-card-mini__avatar
              .scaler(data-ar="1:1" style=`background-image: url('/img/avatars/${slide.avatarCode}-blur.jpg')`)
                img(js-lazy data-src=`/img/avatars/${slide.avatarCode}.jpg` data-srcset=`/img/avatars/${slide.avatarCode}@2x.jpg`)
            // head
            .trader-card-mini__head
              .trader-card-mini__name.h4-title= slide.name
              .p-small.c-gray=t('traders-list.totalProfit')
              .h4-title.h5-title-md.c-primary #{slide.totalProfit > 0 ? '+' : ''}#{slide.totalProfit}%
            // content
            .trader-card-mini__content
              .trader-card-mini__info-grid
                .trader-card-mini__info-col
                  .p-small.c-gray=t('traders-list.rating')
                  .h5-title #{slide.rating}
                .trader-card-mini__info-col
                  .p-small.c-gray=t('traders-list.avgSignals')
                  .h5-title #{slide.avgSignals}
                .trader-card-mini__info-col
                  .p-small.c-gray=t('traders-list.trackRecord')
                  .h5-title #{slide.trackRecord + t('trader-card.months')}
                .trader-card-mini__info-col
                  .p-small.c-gray=t('traders-list.riskLevel')
                  .h5-title #{t('traders-list.riskLevelList.' + slide.riskLevel)}
              // chart
              .trader-card-mini__chart
                .trader-card-mini__chart-stats
                  .p-small.c-gray=t('traders-list.lastWeekProfitGraph')
                  - var lastProfit = slide.lastWeekProfit
                  if lastProfit > 0
                    .h5-title.c-primary +#{lastProfit}%
                  else
                    .h5-title.c-primary #{lastProfit}%
                .trader-card-mini__chart-graph
                  -
                    var valattr =slide.data.values
                  -
                    var labels = slide.data.labels
                  canvas.js-chart-scroll.js-chart(
                    data-type="simple"
                    data-group-labels="3"
                    data-values=valattr
                    data-labels=labels
                  )
            // trader waves
            .trader-card-mini__waves
              .bg-waves.bg-waves--gray.bg-waves--tr-medium
                include ../../icons/svg-inline/trader-waves.svg


    //- .traders-list__cta(data-aos="fade-up")
    //-   //- a(href="#").btn.btn-primary Load more
    //-   .pagination
    //-     ul.pagination__list
    //-       li.pagination__first
    //-         a(href="#")
    //-           +svgMono('arrow-right')
    //-       li
    //-         a(href="#")
    //-           span 1
    //-       li
    //-         a(href="#")
    //-           span 2
    //-       li
    //-         a(href="#")
    //-           span 3
    //-       li
    //-         a(href="#")
    //-           span 4
    //-       li
    //-         a(href="#")
    //-           span 5
    //-       li.pagination__last
    //-         a(href="#")
    //-           +svgMono('arrow-right')
