.trader-card
  .trader-card__slider.swiper-container.swiper-nav-bullets.js-swiper-traders(data-swiper-group-id=tradersSliderID)
    .swiper-wrapper
      -
        var list = data || []
      each slide, idx in list
        .swiper-slide.trader-card__main
          .trader-card__avatar
            .scaler(data-ar="1:1" style=`background-image: url('/img/avatars/${slide.avatarCode}-blur.jpg')`)
              img(js-lazy data-src=`/img/avatars/${slide.avatarCode}.jpg` data-srcset=`/img/avatars/${slide.avatarCode}@2x.jpg`)
          // content
          .trader-card__content
            .trader-card__name.h3-title.h5-title-md= slide.name
            .trader-card__info-grid
              .trader-card__info-col.trader-card__info-col--full
                .p-small.c-gray=t('trader-card.totalProfit')
                .h4-title.h6-title-md #{slide.totalProfit > 0 ? '+' : ''}#{slide.totalProfit}%
            .trader-card__info-grid.trader-card__info-grid--desktop.js-teleport(data-teleport-condition="<767" data-teleport-to="traders_" + idx + "_info")
              .trader-card__info-col
                .p-small.c-gray=t('trader-card.rating')
                .h4-title.h6-title-md #{slide.rating}
              .trader-card__info-col
                .p-small.c-gray=t('trader-card.avgSignals')
                .h4-title.h6-title-md #{slide.avgSignals}
              .trader-card__info-col
                .p-small.c-gray=t('trader-card.trackRecord')
                .h4-title.h6-title-md #{slide.trackRecord + t('trader-card.months')}
              .trader-card__info-col
                .p-small.c-gray=t('trader-card.riskLevel')
                .h4-title.h6-title-md #{t('trader-card.riskLevelList.' + slide.riskLevel)}
          // chart
          .trader-card__chart
            .trader-card__chart-stats
              .p-small.c-gray=t('trader-card.lastWeekProfitGraph')
              - var lastProfit = slide.lastWeekProfit
              if lastProfit > 0
                .h6-title.c-primary +#{lastProfit}%
              else
                .h6-title.c-gray #{lastProfit}%
            .trader-card__chart-graph
              -
                var valattr =slide.data.values

              -
                var labels = slide.data.labels

              if slide.isFirst
                canvas.js-chart-scroll.js-chart(
                  data-group-labels="0"
                  data-values=valattr
                  data-labels=labels
                )
              else
                canvas.js-chart(
                  data-group-labels="0"
                  data-values=valattr
                  data-labels=labels
                )
              //- .scaler.is-bg-hidden.js-scaler(data-ar-1200="192/577" style="padding-bottom: " + (192/457) * 100 + "%;")
              //-   picture(
              //-     js-lazy
              //-     alt=""
              //-     data-src='/img/traderChart.png')
              //-     data-src(
              //-     media="(min-width: 1201px)"
              //-     srcset='/img/traderChart.png 1x, /img/traderChart@2x.png 2x')
              //-     data-src(
              //-     media="(min-width: 0px)"
              //-     srcset='/img/traderChart_768.png 1x, /img/traderChart_768@2x.png 2x')

                //- img(js-lazy data-src='/img/traderChart.png' data-srcset='/img/traderChart@2x.png 2x')
            .trader-card__info-grid.trader-card__info-grid--mobile(data-teleport-target="traders_" + idx + "_info")

    .swiper-pagination

  // nav
  .trader-card__nav
    .swiper-container.js-swiper-traders-thumbs(data-swiper-group-id=tradersSliderID)
      .swiper-wrapper
        each slide, idx in list
          if idx === 0
            .swiper-slide.trader-card__nav-element.is-active
              .h6-title=slide.name
              .p-small #{t('trader-card.totalProfit')} #{slide.totalProfit > 0 ? '+' : ''}#{slide.totalProfit || 0}%
          else
            .swiper-slide.trader-card__nav-element
              .h6-title=slide.name
              .p-small #{t('trader-card.totalProfit')} #{slide.totalProfit || 0}%

