mixin featureCard(card)
  // feature-card
  .feature-card
    .feature-card__icon
      +svgColor(card.icon)
    .feature-card__content
      .h5-title= card.title
      .p-small.c-gray= card.desc

// FEATURES
.features
  .container
    .features__head.section-head.section-main-head(data-aos="fade-up")
      h4.h4-title.c-light=t('features.subtitle')
      h2.h2-title.h3-title-md=t('features.title')
      p.p-main.c-gray=t('features.description')

    .features__wrapper
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'passive-income',
          title: t('features.firstTitle'),
          desc: t('features.firstDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'diversification',
          title: t('features.secondTitle'),
          desc: t('features.secondDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'manageable-risks',
          title: t('features.thirdTitle'),
          desc: t('features.thirdDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'safety',
          title: t('features.fourthTitle'),
          desc: t('features.fourthDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'portfolio',
          title: t('features.fifthTitle'),
          desc: t('features.fifthDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'skin-in-game',
          title: t('features.sixthTitle'),
          desc: t('features.sixthDescription')
        })
