mixin featureCard(card)
  // feature-card
  .feature-card
    .feature-card__icon
      +svgColor(card.icon)
    .feature-card__content
      .h5-title= card.title
      .p-small.c-gray= card.desc

// FEATURES
.features
  .container
    .features__head.section-head(data-aos="fade-up")
      h4.h4-title.c-light=t('features-traders.subtitle')
      h2.h2-title.h3-title-md=t('features-traders.title')
      p.p-main.c-gray=t('features-traders.description')

    .features__wrapper
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'profile-promotion',
          title: t('features-traders.firstCardTitle'),
          desc: t('features-traders.firstCardDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'technological-advantage',
          title: t('features-traders.secondCardTitle'),
          desc: t('features-traders.secondCardDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'manageable-risks',
          title: t('features-traders.thirdCardTitle'),
          desc: t('features-traders.thirdCardDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'safety',
          title: t('features-traders.fourthCardTitle'),
          desc: t('features-traders.fourthCardDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'transparency',
          title: t('features-traders.fifthCardTitle'),
          desc: t('features-traders.fifthCardDescription')
        })
      .features__col(data-aos="fade-up")
        +featureCard({
          icon: 'no-ico',
          title: t('features-traders.sixthCardTitle'),
          desc: t('features-traders.sixthCardDescription')
        })
