// FOOTER :: START
- var currentLocale = locale || '';
- var instagramHref = currentLocale === 'ru' ? 'https://www.instagram.com/coinmatics_rus/' : 'https://www.instagram.com/coinmatics/';
- var twitterHref = currentLocale === 'ru' ? 'https://twitter.com/coinmatics_rus' : 'https://twitter.com/coinmatics';
- var tradingToolsHref = path === '/' || path === '/for-traders' ? '#tools' : `/${currentLocale}/for-traders#tools`;
- var blogHref = currentLocale === 'ru' ? 'https://zen.yandex.ru/id/5d8885cf05fd9800ad37b63a' : 'https://medium.com/coinmatics';
footer.footer
  .footer__waves.bg-waves.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg

  .container
    // top
    .footer__top(data-aos="fade")
      .footer__top-wrapper
        .footer__subscribe-labels
          .h3-title=t('footer.title')
          .p-small.c-gray=t('footer.subscribe')
        .footer__subscribe-cta
          a(href="#modalSubscribe").btn.btn-ghost.js-popup=t('footer.signUp')

    // middle
    .footer__middle(data-aos="fade")
      .footer__middle-wrapper
        .footer__contacts#contacts
          .footer__contacts-main
            .p-small.c-gray=t('footer.contactUs')
            a(href="mailto:hello@coinmatics.io").footer__contacts-email=t('footer.contactUsEmail')
          ul.footer__socials
            li
              a(href=instagramHref target="_blank")
                +svgMono('social-instagram')
            li
              a(href="https://www.facebook.com/coinmatics.io/" target="_blank")
                +svgMono('social-facebook')
            li
              a(href=twitterHref target="_blank")
                +svgMono('social-twitter')
            li
              a(href="https://medium.com/coinmatics" target="_blank")
                +svgMono('social-medium')
        .footer__menus
          .footer__menus-wrapper
            // menu-col
            .footer__menu-col
              .p-small.c-gray=t('footer.forInvestors')
              ul.footer__menu
                li
                  a(href=`/${currentLocale}/investors`)=t('footer.copyTrading')
                li
                  a(href=baseUrl + `/signin?l=${locale}`)=t('footer.topTraders')
                li
                  a(href="https://t.me/coinmatics_signals" target="_blank")=t('footer.tradingSignals')
            // menu-col
            .footer__menu-col
              .p-small.c-gray=t('footer.forTraders')
              ul.footer__menu
                li
                  a(href=`/${currentLocale}/for-traders`)=t('footer.copyTrading')
                li
                  a(href=tradingToolsHref)=t('footer.tradingTools')
            // menu-col
            .footer__menu-col
              .p-small.c-gray=t('footer.company')
              ul.footer__menu
                li
                  a(href=`/${currentLocale}/contacts`)=t('footer.aboutUs')
                li
                  a(href=blogHref target="_blank")=t('footer.blog')
                li
                  a(href="https://www.linkedin.com/company/coinmatics/jobs/" target="_blank")=t('footer.careers')
                li
                  a(href=`/${currentLocale}/legal`)=t('footer.legalDocuments')
                li
                  a(href=`/${currentLocale}/contacts`)=t('footer.contacts')
            // menu-col
            .footer__menu-col
              .p-small.c-gray=t('footer.support')
              ul.footer__menu
                li
                  a(href=`/${currentLocale}/faq`)=t('footer.faq')
                li
                  a(href="#").show-intercom=t('footer.liveChat')
                li
                  a(href="https://coinmatics.statuspage.io/" target="_blank")=t('footer.uptimeAndStatus')
                li
                  a(href="https://portal.productboard.com/coinmatics/3-coinmatics" target="_blank")=t('footer.suggestFeature')
    // bottom
    .footer__bottom
      .footer__bottom-wrapper
        .footer__bottom-left
          .footer__logo
            +svgColor('logo-white')
          .p-small.c-gray=t('footer.allRightsReserved')

        .footer__bottom-right
          .footer__lang
            .footer__lang-label.p-small.c-gray=t('footer.changeLocale')
            a(href="#" data-locale=currentLocale data-path=path).change-locale.footer__lang-selector
              if currentLocale === 'ru'
                .footer__lang-icon
                  +svgColor('lang-eng')
                .p-small=t('footer.locale')
              else
                .footer__lang-icon
                  +svgColor('lang-rus')
                .p-small=t('footer.locale')

// FOOTER :: END
