// TRADERS with about
.traders
  .traders__waves.bg-waves.bg-waves--blue
    include ../../icons/svg-inline/waves-up.svg

  // traders about
  .traders__about
    .traders-about
      .container
        .traders-about__wrapper
          .traders-about__image(data-aos="fade")
            include ../../icons/svg-inline/illustration_traders-about.svg
            img(src='/img/illustration_traders-about.png')

          .traders-about__content(data-aos="fade-up")
            .traders-about__content-wrapper
              .section-head.section-head--left
                //- h4.h4-title.c-light About
                h2.h2-title.h3-title-md=t('traders-w-about.title')
                p.p-small.p-main-xl.p-small-md.c-gray=t('traders-w-about.description')
                a(href="#modalHowItWorks").btn.btn-ghost.btn-watch.js-popup
                  +svgMono('play')
                  span=t('traders-w-about.watchVideo')
          .traders-about__bg-coins
            include ../../icons/svg-inline/illustration_traders-about-coins.svg

  // traders container
  .traders__container
    .container
      .traders__head.section-head(data-aos="fade-up")
        h4.h4-title=t('traders-w-about.topTradersTitle')
        p.p-main.c-gray=t('traders-w-about.topTradersDsc')

      .traders__card(data-aos="fade-up")
        // trader-card
        include partials/_trader-card

      .traders__cta(data-aos="fade-up")
        a(href=baseUrl + `/signup?l=${locale}`).btn.btn-ghost.btn-ghost--b0=t('traders-w-about.viewAll')

  .traders__waves.bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
