// TRADERS
.traders
  .traders__waves.bg-waves.bg-waves--blue
    include ../../icons/svg-inline/waves-up.svg

  .traders__container
    .container
      .traders__head.section-head(data-aos="fade-up")
        h4.h4-title Our Top Traders
        p.p-main.c-gray Repeat their succes or become one of sucessful trade masters

      .traders__card(data-aos="fade-up")
        // trader-card
        .trader-card
          .trader-card__slider.swiper-container.swiper-nav-bullets.js-swiper-traders(data-swiper-group-id="1")
            .swiper-wrapper
              each slide, idx in ["GuRaM_GE", "Walter Bulls", "Cryptor Bot", "Gloria Warren", "VIP Trader Club"]
                .swiper-slide.trader-card__main
                  .trader-card__avatar
                    .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1586458069/Coinmatics/traderAvatar_2x.jpg)")
                      img(js-lazy data-src='img/traderAvatar.jpg' data-srcset='img/traderAvatar@2x.jpg 2x')
                  // content
                  .trader-card__content
                    .trader-card__name.h3-title.h5-title-md= slide
                    .trader-card__info-grid
                      .trader-card__info-col.trader-card__info-col--full
                        .p-small.c-gray Total Profit
                        .h4-title.h6-title-md +40.1%
                    .trader-card__info-grid.trader-card__info-grid--desktop.js-teleport(data-teleport-condition="<767" data-teleport-to="traders_"+idx+"_info")
                      .trader-card__info-col
                        .p-small.c-gray Rating
                        .h4-title.h6-title-md 9.0
                      .trader-card__info-col
                        .p-small.c-gray Avg. Signals
                        .h4-title.h6-title-md 1136
                      .trader-card__info-col
                        .p-small.c-gray Avg. Profit
                        .h4-title.h6-title-md +44.42%
                      .trader-card__info-col
                        .p-small.c-gray Risk Level
                        .h4-title.h6-title-md Risky
                  // chart
                  .trader-card__chart
                    .trader-card__chart-stats
                      .p-small.c-gray Last Week Profit Graph
                      .h6-title.c-primary +5.6%
                    .trader-card__chart-graph
                      .scaler.is-bg-hidden.js-scaler(data-ar-1200="192/577" style="padding-bottom: " + (192/457) * 100 + "%;")
                        picture(
                          js-lazy
                          alt=""
                          data-src='img/traderChart.png')
                          data-src(
                          media="(min-width: 1201px)"
                          srcset='img/traderChart.jpg 1x, img/traderChart@2x.png 2x')
                          data-src(
                          media="(min-width: 0px)"
                          srcset='img/traderChart_768.png 1x, img/traderChart_768@2x.png 2x')

                        //- img(js-lazy data-src='img/traderChart.png' data-srcset='img/traderChart@2x.png 2x')
                    .trader-card__info-grid.trader-card__info-grid--mobile(data-teleport-target="traders_"+idx+"_info")

            .swiper-pagination

          // nav
          .trader-card__nav
            .swiper-container.js-swiper-traders-thumbs(data-swiper-group-id="1")
              .swiper-wrapper
                .swiper-slide.trader-card__nav-element.is-active
                  .h6-title GuRaM_GE
                  .p-small Total Profit +40.1%
                .swiper-slide.trader-card__nav-element
                  .h6-title Walter Bulls
                  .p-small Total Profit +38.4%
                .swiper-slide.trader-card__nav-element
                  .h6-title Cryptor Bot
                  .p-small Total Profit +36.2%
                .swiper-slide.trader-card__nav-element
                  .h6-title Gloria Warren
                  .p-small Total Profit +35.6%
                .swiper-slide.trader-card__nav-element
                  .h6-title VIP Trader Club
                  .p-small Total Profit +34.4%

      .traders__cta(data-aos="fade-up")
        a(href="#").btn.btn-ghost.btn-ghost--b0 View all 235 traders

  .traders__waves.bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
